body {
    font-family: Arial, sans-serif;
    margin: 0;
    color: #333;
}

header {
    background-color: #2E8B57; /* Verde Selva */
    color: white;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

footer {
    background-color: #8B4513; /* Marrón Tierra */
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}